{% extends 'site_base.html' %}

{% load i18n %}
{% load bootstrap %}

{% block body %}
    <div class="container" style="margin-left: 250px; margin-top: 150px;">

        {% if posts.count == 0 %}
            <div><p>{% trans 'You do not have any post.' %}</p></div>

        {% else %}
            <br>
            <div><p>There are {{ posts.count }} posts.</p></div>
            {% for post in posts %}
                <br>
                {{ post.package_name }} <h3><a href="{% url 'post_edit' id=post.pk %}">Edit Post</a></h3>
                {#                    {{ post }}#}
                <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}