{% load i18n %}
{% block content %}
{% load bootstrap %}

    <div class="post_list">

        {% if posts.count == 0 %}
            <div><p>{% trans 'You still have not posted.' %}</p></div>

        {% else %}
            <br><div><p>There are {{ posts.count }} posts.</p> </div>
            {% for post in posts %}
                <br>
                {{ post.package_name }}
{#                    {{ post }}#}
                <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}