{%  extends 'site_base.html' %}

{%  load staticfiles %}
{% load i18n %}
{% load bootstrap %}

{% block body %}
    <div class="post_list" style="margin-top: 130px;">
        {% if isPosted %}
            <h1>Your post is successfully saved!</h1>
            <br><br><h2><a href="{% url 'post_new' %}">Create New Post</a></h2>
        {% elif isPostedStr != "" %}
            <h1>{{ isPostedStr }}</h1>
            <h3>Input a new package name if you accidentally entered an existing package name.</h3>
            <br><br><h2><a href="{% url 'post_new' %}">Create New Post</a></h2>
        {% else %}
            <form role="form" method="post" action="{% url "post_new" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                <legend>{% trans "New Post" %}</legend>
                {% csrf_token %}
                {{ form|bootstrap }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-success btn-block btn-lg">{% trans "Create Post" %}</button>
            </form>

        {% endif %}
    </div>
{% endblock %}