{% extends 'site_base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

    <div class="container" style="margin-left: 250px; margin-top: 120px;">
        <form role="form" method="get" action="{% url "search" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}

            <ul style="float: left; position: relative;">
                <br><h3 style="position: relative;">Search Filter</h3>
                <select name="category" class="">
                    <option value="Wedding">Wedding</option>
                    <option value="Debut">Debut</option>
                    <option value="Birthday">Birthday</option>
                    <option value="Thanksgiving">Thanksgiving</option>
                    <option value="">All</option>
                </select>
{#                <input type="number" min="0" disabled name="budget" placeholder="BUDGET LIMIT" class="filter-border filter-width">#}
                <input type="text" name="businessName" placeholder="BUSINESS NAME" class="">
                <button type="submit" class="">{% trans "Filter" %}</button>
            </ul>
        </form>
    </div>

    <div class="container" style="margin-left: 250px; margin-top: 120px;">
        <ul style="float: left; position: relative;">
            <h3 style="position: relative;"><p>Search Results<br></p></h3>
            {% if posts.count == 0 or not posts %}
                <br><h3>No post is found that matches your query.</h3>
            {% else %}
                {% for post in posts %}
                    <li style="list-style: none; float: left; position: relative; padding: 20px;"><h3 style="color: gray;">{{ post.package_name }}</h3>
                        <a href="{% url 'post_detail' id=post.pk %}" style=""><img src="{{ post.image.url }}" style="height: 250px; width: 250px;" alt="{{ post.package_name }}"/></a>{# <li style="float:left;"></li> #}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

{% endblock %}
