{% extends 'site_base.html' %}

{% load staticfiles %}
{% load account_tags %}
{% load i18n %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Organizer Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

{%  block body %}

    {% if profile_profile.is_validated == 1 and profile_profile.has_paid == 1 %}
        <div class="container">
            <nav class="navbardash navbar-expand-lg">
                <h1 class="navbar-name">My Account</h1>
            </nav>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-4 col-mar">
                    <div class="thumbnail thumb-bor">
                        <div class="caption cap-style">
                            <h3 class="name-style">My Schedule</h3>
                        </div>
                        <a href="#" target="_blank">
                            <img src="{% static 'img/automated-appointment-setting.png' %}" alt="Schedule"
                                 style="width:180px; height:120px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-mar">
                    <div class="thumbnail thumb-bor">
                        <div class="caption cap-style">
                            <h3 class="name-style">Messages</h3>
                        </div>
                        <a href="{% url 'dialogs_detail' username=profile.username %}" target="_blank">
                            <img src="{% static 'img/email.png' %}" alt="Chat" style="width:180px; height:120px;">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-mar">
                    <div class="thumbnail thumb-bor">
                        <div class="caption cap-style">
                            <h3 class="name-style">Account Settings</h3>
                        </div>
                        <a href="{% url 'edit_profile' id=profile.pk %}" target="_blank">
                            <img src="{% static 'img/Wilson-Electric-Rewinds-and-Repairs.png' %}" alt="Settings"
                                 style="width:180px; height:120px; padding:10px 0;">
                        </a>
                    </div>
                </div>

{#                <div class="col-md-4 col-mar">#}
{#                    <div class="thumbnail thumb-bor">#}
{#                        <div class="caption cap-style">#}
{#                            <h3 class="name-style">Archive</h3>#}
{#                        </div>#}
{#                        <a href="#" target="_blank">#}
{#                            <img src="{% static 'img/archive.png' %}" alt="Archive"#}
{#                                 style="width:180px; height:120px; padding:10px 0;">#}
{#                        </a>#}
{#                    </div>#}

{#                </div>#}
                <div class="col-md-4 col-mar">
                    <div class="thumbnail thumb-bor">
                        <div class="caption cap-style">
                            <h3 class="name-style">Upload</h3>
                        </div>
                        <a href="{% url 'post_new' %}" target="_blank">
                            <img src="{% static 'img/archive.png' %}" alt="Archive"
                                 style="width:180px; height:120px;">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <br><br><br><br><br><br>
        <h1>Ooops! Something went wrong. Please pay your subscription fee. Thank you.</h1>
    {% endif %}
{%  endblock %}
</body>
</html>


