{% load i18n %}
{% load inlinecss %}

{% inlinecss 'email/reset.css' %}


{% blocktrans with site_name=current_site.name %}

<div class='container'>

    <img src="https://imageshack.com/a/img922/3530/fWbdxA.png">

    <div class ='content'>

        <div class="title">
            <h1> Password Reset </h1>
        </div>

         <p class='message'>
                <br>
                Hello {{ user.first_name }},
                <br> <br>
                You're receiving this email because you or someone else has requested a password for your user account at {{ site_name }}.
                It can be safely ignored if you did not request a password reset. Click the button below to reset your password.
         </p>
            <a href="{{ password_reset_url }}" class="actbtn"  >Reset Password Link</a>

        </div>
</div>

{% endblocktrans %}
{% endinlinecss %}